<%-include("partials/header");-%>


<h1>Home</h1>
<p class="content">
  <%= homeStartingContent %>
</p>
<%posts.forEach(function(post){%>
<h1><%=post.name%></h1>
<p>
  <%=post.content.slice(0,100)%> ...<a href="posts/<%=post.name%>">Read more</a>
</p>
<%})%>
<a href="/compose" class="btn btn-lg " role="button" aria-pressed="true">Compose</a>
<%-include("partials/footer");-%>
