<%-include("partials/header");-%>

<h1><%=title%></h1>
<p class="content">
  <%=post%>
</p>
<form class="" action="/delete" method="post">
<button type="submit" class="btn btn2 btn-lg "aria-pressed="true" name="btn2" value="<%=title%>">Delete</button>  
</form>

<%-include("partials/footer");-%>
