<%-include("../partials/header-private.ejs");-%>
<h1>My Posts</h1>
<%user.posts.forEach(function(y){%>
<h1><%=y.name%></h1>
<%=y.content.slice(0,100)%>
<p>
  <a href="/delete/<%=y._id%>"><i class="fas fa-trash-alt"></i></a>
  <a class="edit"><i value="<%=y._id%>" data-name="<%=y.name%>" data-content="<%=y.content%>" class="fas fa-edit"></i></a>
</p>
<%})%>
<div class="popup-wrapper">
  <div id="popup-container" value="">
    <h3>Edit</h3>
    <p style="text-align:right;"><a id="close"><i class="far fa-2x fa-times-circle"></i></a></p>
    <form class="set" method="POST">
      <label for="title">Title:</label><br>
      <input class="title" type="text" name="title" value="">
      <p>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="5" cols="70"></textarea>
      </p>
      <button type="submit" name="button" class="btn btn-primary btn-block">Update</button>
    </form>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/javascript/modal.js"></script>
</body>
<%-include("../partials/footer");-%>
